{%- comment -%}
  Renders a cart note

  Accepts:
    - form_id: {String} - The form id.

  Usage:
    {%- render 'cart-note'
        form_id: 'cart-form'
    -%}
{%- endcomment -%}

{%- liquid
  assign note_label = 'sections.cart.note' | t
%}

<div class='flex flex-col gap-sm'>
  <label for='cart-note' class='font-black uppercase'>
    {{ note_label }}
  </label>
  <textarea
    class='textarea'
    id='cart-note'
    name='note'
    rows='2'
    form='{{ form_id }}'
    placeholder='{{ note_label }}'
  >
    {{ cart.note }}
    </textarea>
</div>
