{%- comment -%}
  Renders a product title

  Accepts:
  - block: {Object} - the block to render
  - product: {Object} - the product to render
  - data_id: {String} - the data-id attribute

  Usage:
    {%- render 'product-title',
        block: block,
        product: product,
        data_id: 'product-title'
    -%}
{%- endcomment -%}

{%- liquid
  assign title = product.title | escape
  assign attributes = block.shopify_attributes
%}

<div data-id='{{ data_id }}' {{ attributes }} class='{{ class }}'>
  <h1 class='text-8xl break-words leading-[90%] font-black'>
    {{ title }}
  </h1>
</div>
