{%- comment -%}
  Renders a product gallery

  Accepts:
    - product: {Object} - the product to render
    - section: {Object} - the section to render
    - class: {String} - the class to apply to

  Usage:
    {%- render 'product-gallery',
        product: product,
        section: section,
        class: 'prose-sm'
    -%}
{%- endcomment -%}

{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media
  assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
-%}

<div class='sticky top-20' data-id='product-gallery'>
  {%- if featured_media != null -%}
    {%- render 'product-media', media: featured_media, section: section -%}
  {%- endif -%}
  {%- for media in product.media -%}
    {%- if variant_images contains media.src -%}
      {%- continue -%}
    {%- endif -%}

    {%- unless media.id == featured_media.id -%}
      {%- render 'product-media', media: media, section: section -%}
    {%- endunless -%}
  {%- endfor -%}
</div>
