{%- comment -%}
  Renders a product collapsible tab

  Accepts:
  - block: {Object} - the block to render
  - product: {Object} - the product to render
  - section: {Object} - the section to render
  - data_id: {String} - the data-id attribute

  Usage:
    {%- render 'product-collapsible-tab',
        block: block,
        product: product,
        section: section
        data_id: 'product-collapsible-tab'
    -%}
{%- endcomment -%}

{%- liquid
  assign page_content = block.settings.page.content
  assign content = block.settings.content
  assign attributes = block.shopify_attributes
  assign heading = block.settings.heading | default: block.settings.page.title | escape
%}

<div
  data-id='{{ data_id }}'
  {{ attributes }}
  class='{{ class }}'
>
  {%- render 'cmp-accordion',
    title: heading,
    content: content,
    page_content: page_content
  -%}
</div>
