{%- comment -%}
  Renders a product tax block

  Accepts:
  - block: {Object} - the block to render
  - section: {Object} - the block to render
  - product: {Object} - the product to render

  Usage:
    {%- render 'product-tax',
        block: block,
        section: section,
        product: product
    -%}
{%- endcomment -%}

<small
  aria-label='{{ 'accessibility.taxes_and_shipping' | t }}'
  class='{{ class }}'
>
  {%- if cart.taxes_included -%}
    <p>{{ 'products.product.include_taxes' | t }}</p>
  {%- endif -%}
  {%- if shop.shipping_policy.body != blank -%}
    <p>
      {{
        'products.product.shipping_policy_html'
        | t: link: shop.shipping_policy.url
      }}
    </p>
  {%- endif -%}
</small>
