{%- comment -%}
  Renders product pickup availability

  Accepts:
  - block: {Object} - the block to render
  - product: {Object} - the product to render
  - section: {Object} - the section to render
  - data_id: {String} - the data-id attribute

  Usage:
    {%- render 'product-pickup-availability',
        block: block,
        product: product,
        section: section,
        data_id: 'product-buy-buttons'
    -%}
{%- endcomment -%}

{%- liquid
  assign attributes = block.shopify_attributes
%}

<div
  data-id='{{ data_id }}'
  {{ attributes }}
  class='{{ class }}'
>
  {%- render 'cmp-pickup-availability',
    product: product,
    data_id: pickup_availability_id
  -%}
</div>
