{%- comment -%}
  Renders a product complementary section

  Accepts:
  - block: {Object} - the block to render
  - product: {Object} - the product to render
  - data_id: {String} - the data-id attribute
  - section: {Object} - the section to render

  Usage:
    {%- render 'product-complementary',
        block: block,
        product: product
        section: section
        data_id: 'product-description'
    -%}
{%- endcomment -%}

{%- liquid
  assign attributes = block.shopify_attributes
%}

<div
  data-id='{{ data_id }}'
  {{ attributes }}
  class='{{ class }}'
>
  {%- render 'cmp-product-recommendations',
    section: section,
    product: product,
    block: block,
    intent: 'complementary'
  -%}
</div>
