{%- comment -%}
  Renders a search grid

  Accepts:
    - search: {Object} - the search to render
    - paginate: {Object} - the paginate object
    - section: {String} - the section to render
    - infinite_scroll: {Boolean} - whether to use infinite scroll or not
    - lazy_load: {Boolean} - whether to lazy load the images or not
    - items_per_page: {Number} - the number of items per page
    - show_vendor: {Boolean} - whether to show the vendor or not
    - show_price: {Boolean} - whether to show the price or not
    - show_secondary_image: {Boolean} - whether to show the secondary image or not
    - show_badges: {Boolean} - whether to show the badges or not

  Usage:
    {%- render 'search-grid',
        search: search,
        paginate: paginate,
        section: section,
        items_per_page: 6,
        lazy_load: lazy_load,
        show_vendor: true,
        show_price: true,
        infinite_scroll: true,
        show_secondary_image: true,
        show_badges: true
    -%}
{%- endcomment -%}

{%- paginate search.results by items_per_page -%}
  <cmp-paginator
    class='block group/paginator relative'
    {% if infinite_scroll %}
      data-enabled
    {% endif %}
    data-section='{{ section.id }}'
    data-id='paginator'
  >
    <!-- Paginator container -->
    <div
      data-id='paginator-container-{{ section.id }}'
      class='grid grid-cols-3 gap-sm md:gap-lg p-sm md:p-lg border-t-[1px] border-border/10'
    >
      {%- for item in search.results -%}
        {%- case item.object_type -%}
          {%- when 'product' -%}
            <div>
              {%- render 'card-product',
                product: item,
                lazy_load: lazy_load,
                show_vendor: show_vendor,
                show_price: show_price,
                show_secondary_image: show_secondary_image,
                show_badges: show_badges,
                show_price: show_price,
                show_vendor: show_vendor
              -%}
            </div>
          {%- else -%}
            {% comment %}<p>Tyas</p>{% endcomment %}
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <!-- Loading overlay -->
    {%- assign loader_id = 'paginator-loader-' | append: section.id -%}
    {%- render 'loading-overlay',
      data_id: loader_id,
      class: 'relative p-lg ari group-data-[loading]/paginator:opacity-100 opacity-0 group-data-[loading]/paginator:flex hidden group-data-[loading]/paginator:visible invisible'
    -%}

    <!-- Error message -->
    {%- assign error_id = 'paginator-error-' | append: section.id -%}
    {%- render 'error-message',
      data_id: error_id,
      class: 'group-data-[error]/paginator:opacity-100 opacity-0 group-data-[error]/paginator:block hidden group-data-[error]/paginator:visible invisible'
    -%}

    <!-- Paginator navigation -->
    {%- assign nav_id = 'paginator-navigation-' | append: section.id -%}
    {%- render 'cmp-paginator-nav',
      paginate: paginate,
      id: nav_id,
      infinite_scroll: infinite_scroll
    -%}
  </cmp-paginator>
{%- endpaginate -%}
