{%- comment -%}
  404 section

  This section displays the 404 page, which is
  displayed when a requested page is not found.

  Usage:
    - subtext: A message to display on the 404 page.
    - title: Title for the 404 page.
    - continue_shopping: Text for a link to continue shopping.
    - section_id: The section ID.
{%- endcomment -%}

{%- liquid
  assign subtext = 'templates.404.subtext' | t
  assign title = 'templates.404.title' | t
  assign continue_shopping = 'general.continue_shopping' | t
%}

<section
  class='flex p-lg flex-col gap-lg items-center justify-center h-dvh'
>
  <div class='space-y-md text-center'>
    <h1 class='text-3xl'>
      {{ title }}
    </h1>
    <p class='text-xl'>
      {{ subtext }}
    </p>
  </div>
  <a
    class='btn btn--primary w-fit flex gap-md items-center'
    href='{{ routes.all_products_collection_url }}'
  >
    {% render 'icon-arrow-left', class: 'w-5 h-auto' %}
    <span>{{ continue_shopping }}</span>
  </a>
</section>

{%- schema -%}
{
  "name": "t:sections.main-404.name"
}
{%- endschema -%}
