{%- liquid
  assign title = page.title | escape
  assign content = page.content
-%}

<section>
  <h1 class='text-2xl p-lg border-b-[1px] border-border/10'>
    {{ title }}
  </h1>
  <div class='prose text-foreground px-lg py-lg max-w-screen-md'>
    {{ content }}
  </div>
</section>

{%- schema -%}
{
  "name": "t:sections.main-page.name"
}
{%- endschema -%}
