{%- if predictive_search.performed -%}
  <div id='predictive-search-results'>
    {%- if predictive_search.resources.products.size > 0 -%}
      <h3 id='predictive-search-products'>Products</h3>
      <ul
        role='listbox'
        aria-labelledby='predictive-search-products'
        class='space-y-md'
      >
        {%- for product in predictive_search.resources.products -%}
          <li role='option'>
            <a
              href='{{ product.url }}'
              class='grid gap-lg grid-cols-[25%,1fr_auto] border-[1px] border-border/10 rounded-md overflow-hidden'
              data-animate='fade-in'
              data-animate-repeat
            >
              <div class='aspect-h-3 aspect-w-3'>
                {% render 'cmp-media',
                  media: product.featured_media,
                  class: 'media--fill'
                %}
              </div>

              <h3 class='py-md'>{{ product.title }}</h3>
              <div class='space-y-sm py-md pr-lg'>
                {%- assign price_id = 'product-info-price-' | append: section.id -%}
                {%- render 'product-price',
                  block: block,
                  product: product,
                  section: section,
                  data_id: price_id,
                  hide_tax: true,
                  class: 'col-span-full text-sm'
                -%}
              </div>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <button>Search for “{{ predictive_search.terms }}”</button>
  </div>
{%- endif -%}
